/* ==========================================================================
custom styles
   ========================================================================== */
 
.pickList_sourceListContainer, 
.pickList_controlsContainer, 
.pickList_targetListContainer
{
  float: left;
  margin: 0.25em;
}
.pickList_controlsContainer
{
  text-align: center;
}
.pickList_controlsContainer button
{
  display: block;
  width: 100%;
  text-align: center;
}
.pickList_list
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 150px;
  height: 75px;
  border: 1px inset #eee;
  overflow-y: auto;
  cursor: default;
}
.pickList_selectedListItem
{
  background-color: #a3c8f5;
}
.pickList_listLabel
{
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
}
.pickList_clear
{
  clear: both;
}
h1.survey-title
{
  font-size: 18px;
}
ul
{
  margin: 0;
  padding: 0;
}
li
{
  margin: 0;
  padding: 0;
  list-style: none;
}
 
i
{
  width: 0;
  height: 0;
  padding: 0;
  border: 6px solid transparent;
  display: inline-block;
  vertical-align: middle;
}
 

#multi-transfer-container
{
  min-height: 400px;
  min-width: 700px; /*520px when done*/
}
/* source and target styles */

#source-container, #target-container
{
  float: left;
  width: 25%;
}
#source-title, #target-title
{
  color: #eee;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-top-left-radius: 2px;
  -moz-border-top-right-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  font-size: 16px;
  margin: 0;
  padding: 8px;
}
#source-title
{
  background-color: #6facd5;
   
   
  -moz-box-shadow: 0 0 2px 2px #6facd5;
  -webkit-box-shadow: 0 0 2px 2px#6facd5;
  box-shadow: 0 0 1px 2px #6facd5;
  text-shadow: 0 1px 1px #3e6790;
}
#target-title
{
  background-color: #74b042;
  -moz-box-shadow: 0 0 2px 2px #74b042;
  -webkit-box-shadow: 0 0 2px 2px#74b042;
  box-shadow: 0 0 1px 2px #74b042;
  
}
#source-list, #target-list
{
  -moz-box-shadow: 0 0 2px 2px #cc;
  -webkit-box-shadow: 0 0 2px 2px#ccc;
  box-shadow: 0 0 2px 2px #ccc;
}
#target-list
{
  min-height: 296px;
}
#source-list li, #target-list li
{
  background-color: #f9f9f9; 
  border-bottom: 1px solid #ddd;
  color: #444;
  cursor: default;
  font-size: 16px;
  padding: 8px;
  
}
#target-list li
{
  display: none;
}
#source-list li:hover, #target-list li:hover
{
  background-color: #f8f8f8; 
}
#source-list li.ui-selecting, #target-list li.ui-selecting
{
  background-color: #aaaaaa; 
  color: #222222;
}
#source-list li.ui-selected, #target-list li.ui-selected
{
  background-color: #888;
  color: #fff;
}
/* end of source and target styles */


/* transfer styles */

#transfer-buttons-container, #reorder-buttons-container
{
  float: left;
  margin: 0 10px;
  width: 100px;
}
#transfer-buttons
{
  margin-top: 108px;
}
#transfer-buttons button, #reorder-buttons button
{
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  line-height: 25px;
  outline: none;
  padding: 0;
  vertical-align: middle;
  text-shadow: 0 1px 0 #fff;
  width: 100px;
}
#transfer-buttons button:hover
{
  opacity: .9;
}
#add-button, #add-all-button
{
  background-color: #5ba600; 
  border: 1px solid #5ba600;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 5px;
}
#remove-button, #remove-all-button
{
  background-color: #55aaaa; 
  border: 1px solid #ec5604;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 5px;
}
/* end of transfer styles */


/* transfer highlight style  
#source-list .li-transfer-highlight, #target-list .li-transfer-highlight
*/
#source-list li:hover, #target-list li:hover
{

background-color:#ff4422;

}
 /* background-color: #eee; 
  color:#333333;
  */
}
/* end of transfer highlight style */

.disabled
{
  color: #666666;
  background-color: #999999;
}
#reset-list
{
  font-size: 14px;
  padding: 5px;
  width: 200px;
}
#move-up i
{
  border-bottom: 6px solid #ffffff;
  margin-top: -6px;
  margin-right: 4px;
}
#move-down i
{
  border-top: 6px solid #ffffff;
  margin-bottom: -6px;
  margin-right: 4px;
}
#add-button i:first-child, #add-all-button i:first-child
{
  margin-left: 4px;
}
#add-button i, #add-all-button i
{
  margin-left: -5px;
  border-left: 6px solid #ffffff;
}
#remove-button i, #remove-all-button i
{
  border-right: 6px solid #ffffff;
  margin-right: 4px;
}
#remove-all-button i:first-child
{
  margin-right: -5px;
}
#reorder-buttons-container
{
  margin-top: 108px;
}
#reorder-buttons button
{
  background-color: #5ba6ee; 
  border: 1px solid #5ba600;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 5px;
  clear: both;
  float: none;
}
