@charset "utf-8";
@font-face
{
  font-family: 'helvetica-neue-light';
  src: url('/assets/font/dt-webfont.eot');
  src: url('/assets/font/dt-webfont.eot?#iefix') 
     format('embedded-opentype'),  
       url('/assets/font/dt-webfont.woff') 
    format('woff'),  
       url('/assets/font/dt-webfont.ttf') 
    format('truetype'),  
       url('/assets/font/t-webfont.svg') 
    format('svg');
      font-family: helvetica-neue-light;
      src: local("Helvetica Neue Light"),  
       local("HelveticaNeue-Light"),  
       url('/assets/font/HelveticaNeueLight.ttf');
}

body 
{
   color: #454545;
   background-color: #d7d7d7;
   font-family: "Helvetica Neue", "helvetica-neue-light", Helvetica, Arial, sans-serif;
   overflow-y:scroll;
   padding-right:10px;
}
 

 
audio, canvas, video
{
  display: inline-block;
*display:inline;
*zoom:1
}
audio:not([controls])
{
  display: none
}

a:focus
{
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}
a:hover, a:active
{
  outline: 0
}
sub, sup
{
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline
}
sup
{
  top: -0.5em
}
sub
{
  bottom: -0.25em
}
img
{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic
}
#map_canvas img
{
  max-width: none
}
button, input, select, textarea
{
  margin: 0;
  font-size: 100%;
  vertical-align: middle
}
button, input
{
*overflow:visible;
  line-height: normal
}
button::-moz-focus-inner, input::-moz-focus-inner {
padding:0;
border:0
}
button, input[type="button"], input[type="reset"], input[type="submit"]
{
  cursor: pointer;
  -webkit-appearance: button
}
input[type="search"]
{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
-webkit-appearance:none
}
textarea
{
  overflow: auto;
  vertical-align: top
}
.clearfix
{
*zoom:1
}
.clearfix:before, .clearfix:after
{
  display: table;
  content: "";
  line-height: 0
}
.clearfix:after
{
  clear: both
}
.hide-text
{
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0
}
.input-block-level
{
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

/*fonts */
label
{
  font-size: 1.2;
}
/* banner specifics */
#global-nav .navbar-nav > li > a
{
  padding: 3px 15px;
  color: #ffffff;
  font-size: .9;
}
/* specific height and centering for the search-input */ 
header .navbar-search
{
  vertical-align: middle;
  height: 100%;
  margin: 1em;
}

img.navbar-brand
{
  position: absolute;
  top: 1px;
  left: 2em;
  z-index: 1031;
  padding: 0;
  margin: 0;
}
/*main nav bar */
header .navbar-ex1-collapse
{
  width: 90%;
  text-align: center;
  margin-left: 5%;
  margin-top: 2em;
}
header .navbar-ex1-collapse .navbar-nav
{
  width: 100%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
header .navbar-ex1-collapse .navbar-nav li
{
  width: 13%;
  display: table-cell;
}
.navbar-ex1-collapse .navbar-nav > li > a
{
  background-color: #d7d7d7;
  border-right: 1px solid #999;
  border-top: 1px solid #999;
  border-bottom: 2px solid #666;
  color: #454545;
  font-size: 1.1em;
  font-weight: bold;
  padding: .5em 1em;
}
.navbar-ex1-collapse .navbar-nav > .active > a
{
  background-color: #eeeeee;
}
.navbar-ex1-collapse .navbar-nav > .create > a
{
  color: #ffffff;
  background: #c9de96; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5ZGU5NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzhhYjY2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOTgyMzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #c9de96 0%, #8ab66b 44%, #398235 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c9de96), color-stop(44%, #8ab66b), color-stop(100%, #398235)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #c9de96 0%, #8ab66b 44%, #398235 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #c9de96 0%, #8ab66b 44%, #398235 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #c9de96 0%, #8ab66b 44%, #398235 100%); /* IE10+ */
  background: linear-gradient(to bottom, #c9de96 0%, #8ab66b 44%, #398235 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235', GradientType=0 ); /* IE6-8 */
}

.navbar
{
   font-size: .8em;
   margin-bottom: 0
}

.navbar .brand
{
   position: absolute;
   top: -8px
}

.navbar .brand a
{
   display: inline-block
}

.navbar .brand object
{
   pointer-events: none
}

.navbar .nav .badge
{
   background-color: #cd3301;
   border-radius: 2px;
   padding: 2px 4px
}

.navbar .nav li
{
   border-right: 1px solid #000;
   border-left: 1px solid #385465
}

.navbar .nav li:first-child
{
   border-left: none
}

.navbar .nav li:last-child
{
   border-right: none
}

header
{
   height: 15rem;
   background-color: #ebebe9;
   -webkit-box-shadow: 0 0 15px 3px #999;
   box-shadow: 0 0 15px 3px #999;
   width: auto;
   margin: 0;
  padding-top: 2em;
  
}

header .site-search
{
  /* margin-top: 36px;*/
   position: relative
}

header .site-search input
{
   padding-right: 25px
}

header .site-search button
{
   position: absolute;
   right: 5px;
   top: 4px;
   background: transparent;
   border: none
}

header .site-search button i
{
   color: #0064a4
}

header nav.primary
{
   margin-top: 28px
}

header nav.primary ul.nav-tabs.nav-justified
{
   background-color: #d7d7d7;
   border-top: 1px solid #bfbfbf
}

header nav.primary ul.nav-tabs.nav-justified li a,
header nav.primary ul.nav-tabs.nav-justified li.active>a
{
   border: none;
   border-right: 1px solid #bfbfbf;
   -webkit-box-shadow: inset 0 -3px 0 0 #bfbfbf;
   box-shadow: inset 0 -3px 0 0 #bfbfbf;
   color: #555;
   font-size: .9em;
   font-weight: bold;
   border-radius: 0;
   padding-top: 8px;
   padding-bottom: 11px
}

header nav.primary ul.nav-tabs.nav-justified li a .caret,
header nav.primary ul.nav-tabs.nav-justified li.active>a .caret
{
   border-top-color: #555
}

header nav.primary ul.nav-tabs.nav-justified li.active>a
{
   -webkit-box-shadow: inset 0 -3px 0 0 #1d2b34;
   box-shadow: inset 0 -3px 0 0 #1d2b34
}

header nav.primary ul.nav-tabs.nav-justified li.highlight
{
   background-image: -webkit-gradient(linear, left 0, left 100%, from(#83b553), to(#4e943a));
   background-image: -webkit-linear-gradient(top, #83b553 0, #4e943a 100%);
   background-image: -moz-linear-gradient(top, #83b553 0, #4e943a 100%);
   background-image: linear-gradient(to bottom, #83b553 0, #4e943a 100%);
   background-repeat: repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff83b553', endColorstr='#ff4e943a', GradientType=0)
}

header nav.primary ul.nav-tabs.nav-justified li.highlight a
{
   color: #fff
}

header nav.primary ul.nav-tabs.nav-justified li.highlight a:hover
{
   background-image: -webkit-gradient(linear, left 0, left 100%, from(#4e943a), to(#83b553));
   background-image: -webkit-linear-gradient(top, #4e943a 0, #83b553 100%);
   background-image: -moz-linear-gradient(top, #4e943a 0, #83b553 100%);
   background-image: linear-gradient(to bottom, #4e943a 0, #83b553 100%);
   background-repeat: repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4e943a', endColorstr='#ff83b553', GradientType=0)
}

header nav.primary ul.nav-tabs.nav-justified li .dropdown-menu
{
   background-color: #1d2b34;
   margin: -3px 0 0 0;
   border: 0;
   border-radius: 0;
   -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.7);
   box-shadow: 0 3px 10px rgba(0,0,0,0.7)
}

header nav.primary ul.nav-tabs.nav-justified li .dropdown-menu li a
{
   color: #999;
   padding: 8px 15px;
   font-weight: normal;
   border-right: none;
   -webkit-box-shadow: none;
   box-shadow: none;
   border-bottom-style: 1px dotted #555
}

header nav.primary ul.nav-tabs.nav-justified li .dropdown-menu li a:hover
{
   color: #fff;
   background-color: #1d2b34
}

header nav.primary ul.nav-tabs.nav-justified li .dropdown-menu li.dropdown--divider
{
   margin: 2px 15px;
   border-bottom: 1px dotted #555
}
h1
{
   font-size: 2em;
   margin: .67em 0
}

.main .main__content
{
   background: #fff;
   border: 1px solid #bfbfbf;
   padding: 1.4em;
   margin-bottom: 1 rem;
}

.main .main__content h1:first-child
{
   margin-top: 0
}

.main .main__content .panel:last-child
{
   margin-bottom: 0
}

footer
{
   font-size: .8em;
   margin: 10px 0
}

h1,
h2,
h3,
h4,
h5,
h6
{
   font-weight: bold
}

h2
{
 /* font-size:1.5em; */
 font-size: 2em;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
{
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 500;
   line-height: 1.1;
   color: inherit
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small
{
   font-weight: normal;
   line-height: 1;
   color: #999
}

h1,
h2,
h3
{
   margin-top: 20px;
   margin-bottom: 10px
}

h1 small,
h2 small,
h3 small,
h1 .small,
h2 .small,
h3 .small
{
   font-size: 65%
}

h4,
h5,
h6
{
   margin-top: 10px;
   margin-bottom: 10px
}

h4 small,
h5 small,
h6 small,
h4 .small,
h5 .small,
h6 .small
{
   font-size: 75%
}

h1,
.h1
{
   font-size: 2em
}

h2,
.h2
{
   font-size: 1.8em
}

h3,
.h3
{
   font-size: 1.6em
}

h4,
.h4
{
   font-size: 1.2em
}

h5,
.h5
{
   font-size: 1em
}

h6,
.h6
{
   font-size: .8em
}

.page-header
{
   padding-bottom: 9px;
   margin: 40px 0 20px;
   border-bottom: 1px solid #eee
}




 .main__content h3
{
  font-size:1.2em;
  color:#5081A8;
}


@media (min-width:768px) {

header nav.primary ul.nav-tabs.nav-justified li a,
header nav.primary ul.nav-tabs.nav-justified li.active>a
{
   font-size: .85em
}
}
@media (max-width:767px) {

.site,
.container
{
   width: 768px
}

.nav-tabs.nav-justified>li
{
   display: table-cell;
   width: 1%
}

.nav-tabs.nav-justified>li a
{
   margin-bottom: 0
}

header nav.primary ul.nav-tabs.nav-justified li a,
header nav.primary ul.nav-tabs.nav-justified li.active>a
{
   font-size: .85em
}
}

.panel
{
   border: 1px solid #d7d7d7;
   border-top: 3px solid #d7d7d7;
   padding: 0 8px;
   border-radius: 0;
   overflow:hidden;
   height:auto;
}

.panel h3
{
   margin: 7px 0
}

.panel h3 span
{
   font-weight: normal
}

.panel .panel--divider
{
   height: 1px;
   background-color: #d7d7d7;
   margin-bottom: 10px;
   width: 100%
}
.container>.navbar-header,
.container>.navbar-collapse
{
   margin-right: -15px;
   margin-left: -15px
}
@media (min-width:0) {

.container>.navbar-header,
.container>.navbar-collapse
{
   margin-right: 0;
   margin-left: 0
}
}

.navbar-static-top
{
   z-index: 1000;
   border-width: 0 0 1px
}
@media (min-width:0) {

.navbar-static-top
{
   border-radius: 0
}
}

.navbar-fixed-top,
.navbar-fixed-bottom
{
   position: fixed;
   right: 0;
   left: 0;
   z-index: 1030
}
@media (min-width:0) {

.navbar-fixed-top,
.navbar-fixed-bottom
{
   border-radius: 0
}
}

.navbar-fixed-top
{
   top: 0;
   border-width: 0 0 1px
}

.navbar-fixed-bottom
{
   bottom: 0;
   margin-bottom: 0;
   border-width: 1px 0 0
}

.navbar-brand
{
   float: left;
   padding: 2.5px 15px;
   font-size: 18px;
   line-height: 20px
}

.navbar-brand:hover,
.navbar-brand:focus
{
   text-decoration: none
}
@media (min-width:0) {

.navbar>.container .navbar-brand
{
   margin-left: -15px
}
}

.navbar-toggle
{
   position: relative;
   float: right;
   margin-right: 15px;
   padding: 9px 10px;
   margin-top: -4.5px;
   margin-bottom: -4.5px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 4px
}

.navbar-toggle .icon-bar
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px
}

.navbar-toggle .icon-bar+.icon-bar
{
   margin-top: 4px
}
@media (min-width:0) {

.navbar-toggle
{
   display: none
}
}

.navbar-nav
{
   margin: 1.25px -15px
}

.navbar-nav>li>a
{
   padding-top: 10px;
   padding-bottom: 10px;
   line-height: 20px
}
@media (max-width:767px) {

.navbar-nav .open .dropdown-menu
{
   position: static;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none
}

.navbar-nav .open .dropdown-menu>li>a,
.navbar-nav .open .dropdown-menu .dropdown-header
{
   padding: 5px 15px 5px 25px
}

.navbar-nav .open .dropdown-menu>li>a
{
   line-height: 20px
}

.navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-nav .open .dropdown-menu>li>a:focus
{
   background-image: none
}
}
@media (min-width:0) {

.navbar-nav
{
   float: left;
   margin: 0
}

.navbar-nav>li
{
   float: left
}

.navbar-nav>li>a
{
   padding-top: 2.5px;
   padding-bottom: 2.5px
}
}
@media (min-width:0) {

.navbar-left
{
   float: left !important;
   float: left
}

.navbar-right
{
   float: right !important;
   float: right
}
}

.navbar-form
{
   margin-left: -15px;
   margin-right: -15px;
   padding: 10px 15px;
   border-top: 1px solid transparent;
   border-bottom: 1px solid transparent;
   -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1), 0 1px 0 rgba(255,255,255,0.1);
   box-shadow: inset 0 1px 0 rgba(255,255,255,0.1), 0 1px 0 rgba(255,255,255,0.1);
   margin-top: -4.5px;
   margin-bottom: -4.5px
}
@media (min-width:768px) {

.navbar-form .form-group
{
   display: inline-block;
   margin-bottom: 0;
   vertical-align: middle
}

.navbar-form .form-control
{
   display: inline-block
}

.navbar-form .radio,
.navbar-form .checkbox
{
   display: inline-block;
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 0
}

.navbar-form .radio input[type="radio"],
.navbar-form .checkbox input[type="checkbox"]
{
   float: none;
   margin-left: 0
}
}
@media (max-width:767px) {

.navbar-form .form-group
{
   margin-bottom: 5px
}
}
@media (min-width:0) {

.navbar-form
{
   width: auto;
   border: 0;
   margin-left: 0;
   margin-right: 0;
   padding-top: 0;
   padding-bottom: 0;
   -webkit-box-shadow: none;
   box-shadow: none
}
}

.navbar-nav>li>.dropdown-menu
{
   margin-top: 0;
   border-top-right-radius: 0;
   border-top-left-radius: 0
}

.navbar-fixed-bottom .navbar-nav>li>.dropdown-menu
{
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0
}

.navbar-nav.pull-right>li>.dropdown-menu,
.navbar-nav>li>.dropdown-menu.pull-right
{
   left: auto;
   right: 0
}

.navbar-btn
{
   margin-top: -4.5px;
   margin-bottom: -4.5px
}

.navbar-text
{
   float: left;
   margin-top: 2.5px;
   margin-bottom: 2.5px
}
@media (min-width:0) {

.navbar-text
{
   margin-left: 15px;
   margin-right: 15px
}
}

.navbar-default
{
   background-color: #1d2b34;
   border-color: none
}

.navbar-default .navbar-brand
{
   color: #fff
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus
{
   color: #e6e6e6;
   background-color: transparent
}

.navbar-default .navbar-text
{
   color: #fff
}

.navbar-default .navbar-nav>li>a
{
   color: #fff
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus
{
   color: #eee;
   background-color: transparent
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus
{
   color: #eee;
   background-color: #11191f
}

.navbar-default .navbar-nav>.disabled>a,
.navbar-default .navbar-nav>.disabled>a:hover,
.navbar-default .navbar-nav>.disabled>a:focus
{
   color: #555;
   background-color: transparent
}

.navbar-default .navbar-toggle
{
   border-color: #ddd
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus
{
   background-color: #ddd
}

.navbar-default .navbar-toggle .icon-bar
{
   background-color: #ccc
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form
{
   border-color: none
}

.navbar-default .navbar-nav>.dropdown>a:hover .caret,
.navbar-default .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #eee;
   border-bottom-color: #eee
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus
{
   background-color: #11191f;
   color: #eee
}

.navbar-default .navbar-nav>.open>a .caret,
.navbar-default .navbar-nav>.open>a:hover .caret,
.navbar-default .navbar-nav>.open>a:focus .caret
{
   border-top-color: #eee;
   border-bottom-color: #eee
}

.navbar-default .navbar-nav>.dropdown>a .caret
{
   border-top-color: #fff;
   border-bottom-color: #fff
}
@media (max-width:767px) {

.navbar-default .navbar-nav .open .dropdown-menu>li>a
{
   color: #fff
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus
{
   color: #eee;
   background-color: transparent
}

.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus
{
   color: #eee;
   background-color: #11191f
}

.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,
.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus
{
   color: #555;
   background-color: transparent
}
}

.navbar-default .navbar-link
{
   color: #fff
}

.navbar-default .navbar-link:hover
{
   color: #eee
}

.navbar-inverse
{
   background-color: #222;
   border-color: #080808
}

.navbar-inverse .navbar-brand
{
   color: #999
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus
{
   color: #fff;
   background-color: transparent
}

.navbar-inverse .navbar-text
{
   color: #999
}

.navbar-inverse .navbar-nav>li>a
{
   color: #999
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus
{
   color: #fff;
   background-color: transparent
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus
{
   color: #fff;
   background-color: #080808
}

.navbar-inverse .navbar-nav>.disabled>a,
.navbar-inverse .navbar-nav>.disabled>a:hover,
.navbar-inverse .navbar-nav>.disabled>a:focus
{
   color: #444;
   background-color: transparent
}

.navbar-inverse .navbar-toggle
{
   border-color: #333
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus
{
   background-color: #333
}

.navbar-inverse .navbar-toggle .icon-bar
{
   background-color: #fff
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form
{
   border-color: #101010
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus
{
   background-color: #080808;
   color: #fff
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret
{
   border-top-color: #fff;
   border-bottom-color: #fff
}

.navbar-inverse .navbar-nav>.dropdown>a .caret
{
   border-top-color: #999;
   border-bottom-color: #999
}

.navbar-inverse .navbar-nav>.open>a .caret,
.navbar-inverse .navbar-nav>.open>a:hover .caret,
.navbar-inverse .navbar-nav>.open>a:focus .caret
{
   border-top-color: #fff;
   border-bottom-color: #fff
}
@media (max-width:767px) {

.navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header
{
   border-color: #080808
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a
{
   color: #999
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus
{
   color: #fff;
   background-color: transparent
}

.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,
.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus
{
   color: #fff;
   background-color: #080808
}

.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a,
.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:focus
{
   color: #444;
   background-color: transparent
}
}

.navbar-inverse .navbar-link
{
   color: #999
}

.navbar-inverse .navbar-link:hover
{
   color: #fff
}

.breadcrumb
{
   padding: 8px 15px;
   margin-bottom: 20px;
   list-style: none;
   background-color: #f5f5f5;
   border-radius: 4px
}

.breadcrumb>li
{
   display: inline-block
}

.breadcrumb>li+li:before
{
   content: "/\00a0";
   padding: 0 5px;
   color: #ccc
}

.breadcrumb>.active
{
   color: #999
}

.pagination
{
   display: inline-block;
   padding-left: 0;
   margin: 20px 0;
   border-radius: 4px
}

.pagination>li
{
   display: inline
}

.pagination>li>a,
.pagination>li>span
{
   position: relative;
   float: left;
   padding: 6px 12px;
   line-height: 1.428571429;
   text-decoration: none;
   background-color: #fff;
   border: 1px solid #ddd;
   margin-left: -1px
}

.pagination>li:first-child>a,
.pagination>li:first-child>span
{
   margin-left: 0;
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px
}

.pagination>li:last-child>a,
.pagination>li:last-child>span
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus
{
   background-color: #eee
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus
{
   z-index: 2;
   color: #fff;
   background-color: #0064a4;
   border-color: #0064a4;
   cursor: default
}

.pagination>.disabled>span,
.pagination>.disabled>span:hover,
.pagination>.disabled>span:focus,
.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus
{
   color: #999;
   background-color: #fff;
   border-color: #ddd;
   cursor: not-allowed
}

.pagination-lg>li>a,
.pagination-lg>li>span
{
   padding: 10px 16px;
   font-size: 18px
}

.pagination-lg>li:first-child>a,
.pagination-lg>li:first-child>span
{
   border-bottom-left-radius: 6px;
   border-top-left-radius: 6px
}

.pagination-lg>li:last-child>a,
.pagination-lg>li:last-child>span
{
   border-bottom-right-radius: 6px;
   border-top-right-radius: 6px
}


.pagination-sm>li>a,
.pagination-sm>li>span
{
   padding: 5px 10px;
   font-size: 12px
}

.pagination-sm>li:first-child>a,
.pagination-sm>li:first-child>span
{
   border-bottom-left-radius: 3px;
   border-top-left-radius: 3px
}

.pagination-sm>li:last-child>a,
.pagination-sm>li:last-child>span
{
   border-bottom-right-radius: 3px;
   border-top-right-radius: 3px
}

.pager
{
   padding-left: 0;
   margin: 20px 0;
   list-style: none;
   text-align: center
}

.pager:before,
.pager:after
{
   content: " ";
   display: table
}

.pager:after
{
   clear: both
}

.pager:before,
.pager:after
{
   content: " ";
   display: table
}

.pager:after
{
   clear: both
}

.pager li
{
   display: inline
}

.pager li>a,
.pager li>span
{
   display: inline-block;
   padding: 5px 14px;
   background-color: #fff;
   border: 1px solid #ddd;
   border-radius: 15px
}

.pager li>a:hover,
.pager li>a:focus
{
   text-decoration: none;
   background-color: #eee
}

.pager .next>a,
.pager .next>span
{
   float: right
}

.pager .previous>a,
.pager .previous>span
{
   float: left
}

.pager .disabled>a,
.pager .disabled>a:hover,
.pager .disabled>a:focus,
.pager .disabled>span
{
   color: #999;
   background-color: #fff;
   cursor: not-allowed
}

 .label, label
{
   display: inline-block;
   padding: .2em .6em .3em;
   font-size: 1em;
   font-weight: normal;
   line-height: 1;
    text-align: center;
   white-space: nowrap;
   vertical-align: baseline;
   border-radius: .25em
}

.label[href]:hover,
.label[href]:focus
{
   color: #fff;
   text-decoration: none;
   cursor: pointer
}

.label:empty
{
   display: none
}

.label-default
{
   background-color: #999
}

.label-default[href]:hover,
.label-default[href]:focus
{
   background-color: #808080
}

.label-primary
{
   background-color: #0064a4
}

.label-primary[href]:hover,
.label-primary[href]:focus
{
   background-color: #004571
}

.label-success
{
   background-color: #5cb85c
}

.label-success[href]:hover,
.label-success[href]:focus
{
   background-color: #449d44
}

.label-info
{
   background-color: #5bc0de
}

.label-info[href]:hover,
.label-info[href]:focus
{
   background-color: #31b0d5
}

.label-warning
{
   background-color: #f0ad4e
}

.label-warning[href]:hover,
.label-warning[href]:focus
{
   background-color: #ec971f
}

.label-danger
{
   background-color: #d9534f
}

.label-danger[href]:hover,
.label-danger[href]:focus
{
   background-color: #c9302c
}

.badge
{
   display: inline-block;
   min-width: 10px;
   padding: 3px 7px;
   font-size: 12px;
   font-weight: bold;
   color: #fff;
   line-height: 1;
   vertical-align: baseline;
   white-space: nowrap;
   text-align: center;
   background-color: #999;
   border-radius: 10px
}

.badge:empty
{
   display: none
}

a.badge:hover,
a.badge:focus
{
   color: #fff;
   text-decoration: none;
   cursor: pointer
}

.btn .badge
{
   position: relative;
   top: -1px
}

a.list-group-item.active>.badge,
.nav-pills>.active>a>.badge
{
   color: #0064a4;
   background-color: #fff
}

.nav-pills>li>a>.badge
{
   margin-left: 3px
}


.navbar
{
   font-size: .8em;
   margin-bottom: 0
}

.navbar .brand
{
   position: absolute;
   top: -8px
}

.navbar .brand a
{
   display: inline-block
}

.navbar .brand object
{
   pointer-events: none
}

.navbar .nav .badge
{
   background-color: #cd3301;
   border-radius: 2px;
   padding: 2px 4px
}

.navbar .nav li
{
   border-right: 1px solid #000;
   border-left: 1px solid #385465
}

.navbar .nav li:first-child
{
   border-left: none
}

.navbar .nav li:last-child
{
   border-right: none
}
 
header nav.primary
{
   margin-top: 28px
}

header nav.primary ul.nav-tabs.nav-justified
{
   background-color: #d7d7d7;
   border-top: 1px solid #bfbfbf
}

header nav.primary ul.nav-tabs.nav-justified li a,
header nav.primary ul.nav-tabs.nav-justified li.active>a
{
   border: none;
   border-right: 1px solid #bfbfbf;
   -webkit-box-shadow: inset 0 -3px 0 0 #bfbfbf;
   box-shadow: inset 0 -3px 0 0 #bfbfbf;
   color: #555;
   font-size: .9em;
   font-weight: bold;
   border-radius: 0;
   padding-top: 8px;
   padding-bottom: 11px
}

header nav.primary ul.nav-tabs.nav-justified li a .caret,
header nav.primary ul.nav-tabs.nav-justified li.active>a .caret
{
   border-top-color: #555
}

header nav.primary ul.nav-tabs.nav-justified li.active>a
{
   -webkit-box-shadow: inset 0 -3px 0 0 #1d2b34;
   box-shadow: inset 0 -3px 0 0 #1d2b34
}

header nav.primary ul.nav-tabs.nav-justified li.highlight
{
   background-image: -webkit-gradient(linear, left 0, left 100%, from(#83b553), to(#4e943a));
   background-image: -webkit-linear-gradient(top, #83b553 0, #4e943a 100%);
   background-image: -moz-linear-gradient(top, #83b553 0, #4e943a 100%);
   background-image: linear-gradient(to bottom, #83b553 0, #4e943a 100%);
   background-repeat: repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff83b553', endColorstr='#ff4e943a', GradientType=0)
}

header nav.primary ul.nav-tabs.nav-justified li.highlight a
{
   color: #fff
}

header nav.primary ul.nav-tabs.nav-justified li.highlight a:hover
{
   background-image: -webkit-gradient(linear, left 0, left 100%, from(#4e943a), to(#83b553));
   background-image: -webkit-linear-gradient(top, #4e943a 0, #83b553 100%);
   background-image: -moz-linear-gradient(top, #4e943a 0, #83b553 100%);
   background-image: linear-gradient(to bottom, #4e943a 0, #83b553 100%);
   background-repeat: repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4e943a', endColorstr='#ff83b553', GradientType=0)
}

header nav.primary ul.nav-tabs.nav-justified li .dropdown-menu
{
   background-color: #1d2b34;
   margin: -3px 0 0 0;
   border: 0;
   border-radius: 0;
   -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.7);
   box-shadow: 0 3px 10px rgba(0,0,0,0.7)
}

header nav.primary ul.nav-tabs.nav-justified li .dropdown-menu li a
{
   color: #999;
   padding: 8px 15px;
   font-weight: normal;
   border-right: none;
   -webkit-box-shadow: none;
   box-shadow: none;
   border-bottom-style: 1px dotted #555
}

header nav.primary ul.nav-tabs.nav-justified li .dropdown-menu li a:hover
{
   color: #fff;
   background-color: #1d2b34
}

header nav.primary ul.nav-tabs.nav-justified li .dropdown-menu li.dropdown--divider
{
   margin: 2px 15px;
   border-bottom: 1px dotted #555
}

footer
{
   font-size: .8em;
   margin: 10px 0
}

h1,
h2,
h3,
h4,
h5,
h6
{
   font-weight: bold
}
@media (min-width:768px) {

header nav.primary ul.nav-tabs.nav-justified li a,
header nav.primary ul.nav-tabs.nav-justified li.active>a
{
   font-size: .85em
}
}
@media (max-width:767px) {

.site,
.container
{
   width: 768px
}

.nav-tabs.nav-justified>li
{
   display: table-cell;
   width: 1%
}

.nav-tabs.nav-justified>li a
{
   margin-bottom: 0
}

header nav.primary ul.nav-tabs.nav-justified li a,
header nav.primary ul.nav-tabs.nav-justified li.active>a
{
   font-size: .85em
}
}

.panel
{
   border: 1px solid #d7d7d7;
   border-top: 3px solid #d7d7d7;
   padding: 0 8px;
   border-radius: 0
}

.panel h4
{
   margin: 7px 0
   font-size: 1.6rem;
}

.panel h4 span
{
   font-weight: normal
}

.panel .panel--divider
{
   height: 1px;
   background-color: #d7d7d7;
   margin-bottom: 10px;
   width: 100%
} 
 .panel .summary-panel 
 {
  background-color:#e9eff4;
  border-radius: 3px;
 }
 
.panel .panel-toggle a,
.panel .panel-toggle a:link,
.panel .panel-toggle a:active,
.panel .panel-toggle a:visited
{
  margin:12px -8px;
  font-size:14px;
  font-weight:bold;
  text-decoration:none;
  color:#006699;
}
.panel .detail-container
{
 margin:4px 1em; 
}
 
.nav
{
   margin-bottom: 0;
   padding-left: 0;
   list-style: none
}

.nav:before,
.nav:after
{
   content: " ";
   display: table
}

.nav:after
{
   clear: both
}

.nav:before,
.nav:after
{
   content: " ";
   display: table
}

.nav:after
{
   clear: both
}

.nav>li
{
   position: relative;
   display: block
}

.nav>li>a
{
   position: relative;
   display: block;
   padding: 10px 15px
}

.nav>li>a:hover,
.nav>li>a:focus
{
   text-decoration: none;
   background-color: #eee
}

.nav>li.disabled>a
{
   color: #999
}

.nav>li.disabled>a:hover,
.nav>li.disabled>a:focus
{
   color: #999;
   text-decoration: none;
   background-color: transparent;
   cursor: not-allowed
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus
{
   background-color: #eee;
   border-color: #0064a4
}

.nav .open>a .caret,
.nav .open>a:hover .caret,
.nav .open>a:focus .caret
{
   border-top-color: #003558;
   border-bottom-color: #003558
}

.nav .nav-divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #e5e5e5
}

.nav>li>a>img
{
   max-width: none
}

.nav-tabs
{
   border-bottom: 1px solid #ddd
}

.nav-tabs>li
{
   float: left;
   margin-bottom: -1px
}

.nav-tabs>li>a
{
   margin-right: 2px;
   line-height: 1.428571429;
   border: 1px solid transparent;
   border-radius: 4px 4px 0 0
}

.nav-tabs>li>a:hover
{
   border-color: #eee #eee #ddd
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus
{
   color: #555;
   background-color: #d7d7d7;
   border: 1px solid #ddd;
   border-bottom-color: transparent;
   cursor: default
}

.nav-tabs.nav-justified
{
   width: 100%;
   border-bottom: 0
}

.nav-tabs.nav-justified>li
{
   float: none
}

.nav-tabs.nav-justified>li>a
{
   text-align: center;
   margin-bottom: 5px
}

.nav-tabs.nav-justified>.dropdown .dropdown-menu
{
   top: auto;
   left: auto
}
@media (min-width:768px) {

.nav-tabs.nav-justified>li
{
   display: table-cell;
   width: 1%
}

.nav-tabs.nav-justified>li>a
{
   margin-bottom: 0
}
}

.nav-tabs.nav-justified>li>a
{
   margin-right: 0;
   border-radius: 4px
}

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:focus
{
   border: 1px solid #ddd
}
@media (min-width:768px) {

.nav-tabs.nav-justified>li>a
{
   border-bottom: 1px solid #ddd;
   border-radius: 4px 4px 0 0
}

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:focus
{
   border-bottom-color: #d7d7d7
}
}

.nav-pills>li
{
   float: left
}

.nav-pills>li>a
{
   border-radius: 4px
}

.nav-pills>li+li
{
   margin-left: 2px
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus
{
   color: #fff;
   background-color: #0064a4
}

.nav-pills>li.active>a .caret,
.nav-pills>li.active>a:hover .caret,
.nav-pills>li.active>a:focus .caret
{
   border-top-color: #fff;
   border-bottom-color: #fff
}

.nav-stacked>li
{
   float: none
}

.nav-stacked>li+li
{
   margin-top: 2px;
   margin-left: 0
}

.nav-justified
{
   width: 100%
}

.nav-justified>li
{
   float: none
}

.nav-justified>li>a
{
   text-align: center;
   margin-bottom: 5px
}

.nav-justified>.dropdown .dropdown-menu
{
   top: auto;
   left: auto
}
@media (min-width:768px) {

.nav-justified>li
{
   display: table-cell;
   width: 1%
}

.nav-justified>li>a
{
   margin-bottom: 0
}
}

.nav-tabs-justified
{
   border-bottom: 0
}

.nav-tabs-justified>li>a
{
   margin-right: 0;
   border-radius: 4px
}

.nav-tabs-justified>.active>a,
.nav-tabs-justified>.active>a:hover,
.nav-tabs-justified>.active>a:focus
{
   border: 1px solid #ddd
}
@media (min-width:768px) {

.nav-tabs-justified>li>a
{
   border-bottom: 1px solid #ddd;
   border-radius: 4px 4px 0 0
}

.nav-tabs-justified>.active>a,
.nav-tabs-justified>.active>a:hover,
.nav-tabs-justified>.active>a:focus
{
   border-bottom-color: #d7d7d7
}
}

.tab-content>.tab-pane
{
   display: none
}

.tab-content>.active
{
   display: block
}

.nav .caret
{
   border-top-color: #0064a4;
   border-bottom-color: #0064a4
}

.nav a:hover .caret
{
   border-top-color: #003558;
   border-bottom-color: #003558
}

.nav-tabs .dropdown-menu
{
   margin-top: -1px;
   border-top-right-radius: 0;
   border-top-left-radius: 0
}

.navbar
{
   position: relative;
   min-height: 25px;
   margin-bottom: 0;
   border: 1px solid transparent
}

.navbar:before,
.navbar:after
{
   content: " ";
   display: table
}

.navbar:after
{
   clear: both
}

.navbar:before,
.navbar:after
{
   content: " ";
   display: table
}

.navbar:after
{
   clear: both
}
@media (min-width:0) {

.navbar
{
   border-radius: 4px
}
}

.navbar-header:before,
.navbar-header:after
{
   content: " ";
   display: table
}

.navbar-header:after
{
   clear: both
}

.navbar-header:before,
.navbar-header:after
{
   content: " ";
   display: table
}

.navbar-header:after
{
   clear: both
}
@media (min-width:0) {

.navbar-header
{
   float: left
}
}

.navbar-collapse
{
   max-height: 340px;
   overflow-x: visible;
   padding-right: 15px;
   padding-left: 15px;
   border-top: 1px solid transparent;
   box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
   -webkit-overflow-scrolling: touch
}

.navbar-collapse:before,
.navbar-collapse:after
{
   content: " ";
   display: table
}

.navbar-collapse:after
{
   clear: both
}

.navbar-collapse:before,
.navbar-collapse:after
{
   content: " ";
   display: table
}

.navbar-collapse:after
{
   clear: both
}

.navbar-collapse.in
{
   overflow-y: auto
}
@media (min-width:0) {

.navbar-collapse
{
   width: auto;
   border-top: 0;
   box-shadow: none
}

.navbar-collapse.collapse
{
   display: block !important;
   height: auto !important;
   padding-bottom: 0;
   overflow: visible !important
}

.navbar-collapse.in
{
   overflow-y: auto
}

.navbar-collapse .navbar-nav.navbar-left:first-child
{
   margin-left: -15px
}

.navbar-collapse .navbar-nav.navbar-right:last-child
{
   margin-right: -15px
}

.navbar-collapse .navbar-text:last-child
{
   margin-right: 0
}
}

.container>.navbar-header,
.container>.navbar-collapse
{
   margin-right: -15px;
   margin-left: -15px
}
@media (min-width:0) {

.container>.navbar-header,
.container>.navbar-collapse
{
   margin-right: 0;
   margin-left: 0
}
}

.navbar-static-top
{
   z-index: 1000;
   border-width: 0 0 1px
}
@media (min-width:0) {

.navbar-static-top
{
   border-radius: 0
}
}

.navbar-fixed-top,
.navbar-fixed-bottom
{
   position: fixed;
   right: 0;
   left: 0;
   z-index: 1030
}
@media (min-width:0) {

.navbar-fixed-top,
.navbar-fixed-bottom
{
   border-radius: 0
}
}

.navbar-fixed-top
{
   top: 0;
   border-width: 0 0 1px
}

.navbar-fixed-bottom
{
   bottom: 0;
   margin-bottom: 0;
   border-width: 1px 0 0
}

.navbar-brand
{
   float: left;
   padding: 2.5px 15px;
   font-size: 18px;
   line-height: 20px
}

.navbar-brand:hover,
.navbar-brand:focus
{
   text-decoration: none
}
@media (min-width:0) {

.navbar>.container .navbar-brand
{
   margin-left: -15px
}
}

.navbar-toggle
{
   position: relative;
   float: right;
   margin-right: 15px;
   padding: 9px 10px;
   margin-top: -4.5px;
   margin-bottom: -4.5px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 4px
}

.navbar-toggle .icon-bar
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px
}

.navbar-toggle .icon-bar+.icon-bar
{
   margin-top: 4px
}
@media (min-width:0) {

.navbar-toggle
{
   display: none
}
}

.navbar-nav
{
   margin: 1.25px -15px
}

.navbar-nav>li>a
{
   padding-top: 10px;
   padding-bottom: 10px;
   line-height: 20px
}
@media (max-width:767px) {

.navbar-nav .open .dropdown-menu
{
   position: static;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none
}

.navbar-nav .open .dropdown-menu>li>a,
.navbar-nav .open .dropdown-menu .dropdown-header
{
   padding: 5px 15px 5px 25px
}

.navbar-nav .open .dropdown-menu>li>a
{
   line-height: 20px
}

.navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-nav .open .dropdown-menu>li>a:focus
{
   background-image: none
}
}
@media (min-width:0) {

.navbar-nav
{
   float: left;
   margin: 0
}

.navbar-nav>li
{
   float: left
}

.navbar-nav>li>a
{
   padding-top: 2.5px;
   padding-bottom: 2.5px
}
}
@media (min-width:0) {

.navbar-left
{
   float: left !important;
   float: left
}

.navbar-right
{
   float: right !important;
   float: right
}
}

/*Form */


.controls
{
display:inline-block;
padding-top:7px;
 
}
.main__content .form-group,
.control-group 
  {
      display: inline-block;
      width:100%;
	  clear:both;
	  margin-bottom:.5em;
	  float:left;
	  
}

.main__content .vin-search
{
  /* margin-top: 36px;*/
   position: relative
}

.main__content .vin-search input
{
   padding-right: 25px
}

.main__content .vin-search button
{
   position: absolute;
   right: 5px;
   top: 4px;
   background: transparent;
   border: none
}

.main__content .vin-search button i
{
   color: #0064a4
}
.main__content label
{
   display: inline-block;
   text-align:right;
   width:12em;
   vertical-align:top;
   
}